@using MVCBlog.Areas.Admin.Models.Types

@if (ViewBag.islemDurum == 1)
            {
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>	<i class="icon fa fa-check"></i> Başarılı</h4>
        @FormMessages.AddSuccess
    </div>
}
else if (ViewBag.islemDurum == 2)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Hata!</h4>
        @FormMessages.AddError
    </div>
}


